body {
    background-color: rgb(45, 83, 223); /* O valor alpha foi adicionado */
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente */
    height: 100vh; 
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    place-items: center;
    height: fit-content;
    width: 450px;
    text-align: center ;
}

.cadastro {
    margin-top: 30px;
}

form {
    width: 100%;
}
.padding {
    padding: 30px;
}
.container-gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hidden {
    display: none;
}

.justify-start{
    display: flex;
    justify-content: start;
    align-items: center;
}
.space-between {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.button1 {
    background-color: #051ead; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.button1:hover {
    background-color: #667ae9;
}
.button2 {
    background-color: #051ead; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.button2:hover {
    background-color: #667ae9;
}

.button3 {
    background-color: #051ead; 
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.button3:hover {
    background-color: #667ae9;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="time"],
input[type="date"] {
    width: 100%; /* Faz o campo de entrada ocupar toda a largura disponível */
    padding: 10px; /* Adiciona espaço interno (padding) ao redor do texto */ /* Espaçamento abaixo do campo */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
}

input[type="text"]::placeholder
input[type="date"]::placeholder {
    color: #f10000; /* Cor do placeholder */
    font-style: italic; /* Estilo do placeholder */
}

/* navbar */

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo{
    display: flex;
    flex-direction: row;
    color: #37479e;
    align-items: center;
}

.navbar-logo img {
    padding: 5px 15px ;
    display: inline-block;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.navbar-links li {
    display: inline;
}


.navbar-links .user {
    color: #37479e;
    text-decoration: none;
    font-weight: bold;
    padding: 9px 20px;
    display: inline-block;
    transition: background-color 0.5s ease;
}


.navbar-links a {
    color: #324cda;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.navbar-links a:hover {
    background-color: #1900f7;
    color: #FFFFFF;
}
.navbar-links .user:hover {
    background-color: #ffffff;
}

.content {
    padding: 60px 20px; /* Adiciona um espaçamento para que o conteúdo não fique atrás da navbar */
    margin-top: 50px; /* Compensa a altura da navbar */
}

/* ICON */

.icon {
    width: 24px;
    height: 24px;
    color: #0063d4; /* Cor do ícone */
  }
  
.icon-tabler {
stroke-width: 2;
stroke: currentColor; /* Usará a cor definida na propriedade CSS 'color' */
}

/* Responsividade */
@media screen and (max-width: 600px) {
    .navbar-links {
        float: none;
        text-align: center;
    }
    .navbar-links li {
        display: block;
        margin: 0;
    }
}
