<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms procurar viagem</title>
</head>
<body>
    {% if not user %}
        <a href="/sign-in">Entrar na conta (sign-in).</a>
        <a href="/sign-up">Cadastrar no aplicativo(sign-up).</a>
    {% else %}
        <a href="/main">Icone para entrar na conta do usuario</a>
    {% endif %}
    <form action="/get-travels" method="GET">
        <label for="leaving">Para onde vai?</label><br>
        <input type="text" id="leaving" name="leaving" required><br><br>

        <label for="going">Para onde está indo?</label><br>
        <input type="text" id="going" name="going" required><br><br>

        <label for="date">Data</label><br>
        <input type="date" id="date" name="going" required><br><br>

        <button type="submit">Enviar</button>
    </form>
    <a href="/logoff">Sair</a>

</body>
</html>

