<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Usuário</title>
    <link rel="stylesheet" href="http://localhost:8000/static/style.css">
</head>
<body>
    <section>    
        {% include 'navbar.html' %}
        <h1>Perfil do Usuário</h1>
        <p><strong>Nome:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Documento:</strong> {{ user.doc }}</p>
    
        <a href="/offer">Oferecer Carona</a>
        <a href="/logoff">Sair</a>
    </section>
</body>
</html>

