<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="http://localhost:8000/static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="http://localhost:8000/static/assets/logo.png" alt="Logo" width="50" height="50">
            <h2>ZuPit</h2>
        </div>
        <ul class="navbar-links">
            <li><a href="http://localhost:8000">Procurar</a></li>
            <li><a href="http://localhost:8000/create-driver">Oferecer Carona</a></li>
            <li>
                <a class="user" href="http://localhost:8000/main">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="12" cy="7" r="4" />
                        <path d="M5 21a7 7 0 0 1 14 0" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>
